.lightTable :global(.ant-table .ant-table-container .ant-table-content table tr.ant-table-row .ant-table-cell) {
    padding-block: 10px;
    border-bottom: 1px solid #d4d4d8 ;
}

.lightTable :global(.ant-table .ant-table-container .ant-table-content table thead.ant-table-thead .ant-table-cell) {
    border-bottom: 1px solid #d4d4d8 ;
}

.lightTable :global(.ant-table .ant-table-container) {
    border-radius: 5px;
    border: 1px solid #d4d4d8 ;
    box-shadow: 0 0 10px rgba(96, 84, 84, 0.1);
    overflow: hidden;
}