/* .ant-table .ant-table-container .ant-table-content table thead.ant-table-thead .ant-table-cell {
  background-color: rgb(255, 188, 136);
} */

.ant-table .ant-table-container {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(96, 84, 84, 0.2);
  overflow: hidden;
}
.ant-message {
  z-index: 9999 !important;
}
