@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1.0);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1c2020; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  > div {
    width: 8px;
    height: 50px;
    margin: 0 2px;
    animation: delay 0.8s infinite ease-in-out;
  }

  .bar1 {
    background-color: #754fa0;
  }

  .bar2 {
    background-color: #09b7bf;
    animation-delay: -0.7s;
  }

  .bar3 {
    background-color: #90d36b;
    animation-delay: -0.6s;
  }

  .bar4 {
    background-color: #f2d40d;
    animation-delay: -0.5s;
  }

  .bar5 {
    background-color: #fcb12b;
    animation-delay: -0.4s;
  }

  .bar6 {
    background-color: #ed1b72;
    animation-delay: -0.3s;
  }
}

main {
  height: 100vh;
  text-align: center;

  .-content {
    position: relative;
    height: 100vh;

    > div {
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
    }

    &.-index {
      background-color: #f6f6f6;
      display: table;
      width: 100%;

      > div {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
